<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">
        Hakkımızda
      </h3>
		   <p style="font-size:15px; color:lightgrey">
        Bu sistemdeki amacımız, hem sunucumuzdaki botları düzenem sokmak, reklamlarını yapmak ve gerçekten güzel gördüğümüz botları size önermek!<br>
        Sistem DBL'ye çok benzemekte (hatta neredeyse aynı) ancak buranın farkı sadece Türk botları bulunması ve bir Türk tarafından yönetilmesi.<br>
        Sistemin sahibi olarak sizlere tavsiyem, ASLA pes etmeyin! Her zaman kendinize güveniniz olsun!<br><br>
         
        Bize ulaşmak isterseniz;<br>
        <a href="https://discord.gg/w2D38PC" class="btn btn-default" style="background-color:#333; color:#fff">Discord Sunucusuna Katıl</a>
      </p>
      <br>

</div>
  </div></div></div>
<% include ./ek/footer %>