<html lang="tr"><head>
<%- include('ek/header', {bot, user, path}) %>
  <div class="container">
<div class="container">
<style> h3 { color:#fff; } p { color:#fff; } </style>
      <style> stronga { color:#00bc3b; }</style>
	<div class="jumbotron">
		<div align="center">
		   <h3>Premium Özeliği Nasıl Alınır?</h3>
		   <p>Öncelikle Merhaba!. <br><strong>Premium tam olarak ne kazandırır?</strong><br>
		 <a style="color:red">1.</a> Botunuz Discord Sunucumuzda Tanıtılır. <br>
		 <a style="color:red">2.</a> Botunuz Sitede Ön Sıralara Çıkartırılır. <br><br><strong>Ve gelelim Premium'u nasıl alacağınıza.</strong> <br>
Premium 5 TL Karşılığıyla Alınabilicektir Yada Botunuz 500 Sunucudan Fazla İse Otomatik'man Verilir.
      </p>
</div>
  </div></div></div>
<br>
    <% include ./ek/footer %>
